{% extends "base.html" %}

{% block title %}LocaFan - {{ tarefa }} da Loca&ccedil;&atilde;o: &quot;{{ cliente }}&quot;, &quot;{{ dt_devolucao }}&quot; conclu&iacute;d{{ genero }} com sucesso! {% endblock %}

{% block content %}

<h3>{{ tarefa }} da Loca&ccedil;&atilde;o:</h3>

<h2>Cliente: <q>{{ cliente }}</q></h2>
<h2>Data de Devolu&ccedil;&atilde;o: <q>{{ dt_devolucao }}</q></h2>

<h3>conclu&iacute;d{{ genero }} com sucesso!</h3>

<a href="#" id="a_voltar" class="ui-state-default ui-corner-all" onclick="location.assign('{% url home_index %}');">
    <span class="ui-icon ui-icon-arrowreturnthick-1-w"></span>Voltar ao Inicio
</a>

<script type="text/javascript" charset="utf-8">//<![CDATA[
// Hover states on the static widgets
$( "#a_voltar" ).hover(
    function() {
        $( this ).addClass( "ui-state-hover" );
    },
    function() {
        $( this ).removeClass( "ui-state-hover" );
    }
);
//]]>
</script>

<style type="text/css" media="screen">
#a_voltar {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#a_voltar span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
</style>

{% endblock %}
